* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

/*/header/*/
.contenedorHeader {
  background-image: linear-gradient(
    to left,
    rgb(247, 242, 242),
    rgb(92, 171, 245),
    rgb(247, 242, 242)
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: auto;
}

@media (max-width: 700px) {
  .contenedorHeader {
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
  }
}

.tituloLogo {
  display: flex;
  grid-column: 1/3;
  justify-content: center;
  text-transform: uppercase;
}
.tituloLogo h1 {
  font-family: 'Akshar', sans-serif;
  font-size: 5rem;
  margin-right: 10px;
  justify-content: center;
}
.tituloLogo img {
  width: 5rem;
}
.menuHead {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgb(92, 171, 245) ,
    

}
.menuNav {
  display: flex;
  justify-content: space-around;
  

}
nav{margin-top: 20px;
}
.menuNav li {border: 2px black solid;
            border-radius: 20px;
            padding: 10px;
            background-color: rgb(57, 63, 70);
          }

@media (max-width: 752px) {
  .menuNav {
    flex-direction: column;
    text-align: center;
  }
}

.menuNav li {
  list-style: none;
  
}
.menuNav li a {
  text-decoration: none;
  color: rgb(44, 39, 39);
  cursor: pointer;
  font-family: 'Akshar', sans-serif;
  font-size: 2rem;
  color: aliceblue;
}


/*/subtitulo/*/
.subtitulo {
  font-family: 'Akshar', sans-serif;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  background-image: linear-gradient(
    to left,
    rgb(247, 242, 242),
    rgb(92, 171, 245),
    rgb(247, 242, 242)
  );
}

@media (max-width:700px){
    h2{ font-size: 2rem;}
}

/*/section/*/
.contenedorSection {
  height: 50vh;
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr;
  font-size: 1.5rem;
  gap: 1em;
  
}

@media (max-width: 700px) {
  .contenedorSection {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 5px;
  }
}

.hijoP {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 3px black solid;
  background-color: rgb(151, 150, 150);
  border-radius: 13px;
  width: 70%;
  opacity: 0.6;
  font-family: 'Akshar', sans-serif;
}

.hijo1 {text-align: center;
  justify-content: center;
  font-family: "Bebas Neue", cursie;
  align-items: center;
  display: flex;
  background-image: url(./precio.png);
  font-size: 1.5em;
}
.hijo2 {text-align: center;
  font-family: "Bebas Neue", cursie;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(./mvh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em;
}

.hijo3 {
  text-align: center;
  font-family: "Bebas Neue", cursie;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(./azafata-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5em; }

.hijo4 {
  text-align: center;
  font-family: "Bebas Neue", cursie;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(./seguro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkslateblue;
  font-size: 1.5em;
}

/*/footer/*/
footer {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to left,
    rgb(247, 242, 242),
    rgb(92, 171, 245),
    rgb(247, 242, 242)
  );
  font-size: 1.5rem;
}


/*/page contacto/*/
.bodyC {display: flex;
        flex-direction: column;}

.tituloContacto {text-align: center;}

.footerC{position: absolute;
        width: 100%;
        bottom: 0;}

.contenedorHeaderContacto{background-image: linear-gradient(
  to left,
  rgb(247, 242, 242),
  rgb(92, 171, 245),
  rgb(247, 242, 242)
);
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
align-items: center;
width: 100%;
}

@media (max-width: 700px) {
.contenedorHeaderContacto {
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
}.footerC{position: relative;}
}


